body{
    margin: 4px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('wood-finish.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    max-width: 482px;
    overflow: hidden;
}
#display {
    pointer-events: none;
    box-sizing: border-box; 
    width: 100%;               
    font-size: 4.75rem;            
    text-align: left;
    border: 10px inset #2a2a2a;
    background-color: #0a0a0a;   
    color: #39FF14;
    text-shadow: 0 0 6px #39FF14, 0 0 0px #39FF14;
    font-family: 'Courier New', monospace;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
    padding: 20px;
    margin-left: 18px;
}
button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color:hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: #2E8B57; /* SeaGreen */
}    
.operator-btn:hover{
    background-color: #3CB371; /* MediumSeaGreen */
}
.operator-btn:active{
    background-color:hsl(144, 71%, 50%);
}