body{
    margin: 20px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('wood-finish.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: hsl(0, 0%, 15%);*/
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 15px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 20px;
}
button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color:hsl(0, 0%, 50%);
}
.operator-btn{
    background-color:hsl(204, 71%, 45%);
}
.operator-btn:hover{
    background-color:hsl(204, 71%, 50%);
}
.operator-btn:active{
    background-color:hsl(204, 71%, 60%);
}